.info_bloc {
float: left; border-bottom: 1px solid #cccccc; width: 100%; margin: 10px 0 0 0;
}

.post_title {
  width: 100%; margin: 3px 10px 3px 20px; color: #4bab1f; font-size: 16px; font-family: Arial;
}

.info_img {
  float:left;  margin-left: 10px;
}

.info_description {
  float:right;  margin: 10px 10px 10px 0; width:70%; font-family: arial, helvetica; font-size:  small;
}

.info_link {
  float:right; margin-right: 276px;
}

.paginate {
  text-align: center;
}